<div id="app">
    <header class="header">
        <div class="header-wrapper --container">
            <router-link
                class="header-action"
                :to="{name: 'home'}">Home
            </router-link>
        </div>
    </header>
    <section class="main --container">
        <router-view></router-view>
    </section>
</div>
