<div>
    <div>
        <h2>Click event</h2>
        <button @click="sayHi">
            Click to say hi
        </button>
    </div>

    <div>
        <h2>Get the event</h2>
        <button @click="getEvent($event)">
            Click me
        </button>
    </div>

</div>
