<div>
    <div>
        <h2>Im the father</h2>
    </div>

    <Child :items="itemsArray">
    <h2 slot="title">Im the child, my father send me this title with slot</h2>
        <template scope="childItem">
            <div>{{childItem.name}}</div>
        </template>
    </Child>



</div>
