<div>
    <div>
        <h2>Computed properties</h2>
        <input type="text" v-model="message">
        <p>Original message: {{ message }}</p>
        <p>Computed reversed message: {{ reversedMessage }}</p>
    </div>
</div>
