<div>
    <slot name="title"></slot>
    <div>
        <p>My father send me this list and i iterate</p>
        <div v-for="item in items">
            <slot v-bind="item"></slot>
        </div>
    </div>
</div>
