<div class="Home">
    <h1 class="">{{ title }}</h1>
    <button style="color: red" v-for="feature in features">
        <router-link
            class="header-action"
            :to="{name:  feature}">{{ feature }}
        </router-link>
    </button>
</div>
