<div>
    <div>
        <h2>v-if</h2>
        <button
            @click="showText">
            <p v-if="!canShow">click to show text</p>
            <p v-else>click to hide text</p>
        </button>
        <p v-if="canShow">This tag is beeing evaluated by a expression, in case the expression be false this tag will hide</p>
    </div>

    <div>
        <h2>v-for with array</h2>
            <div> {{days}} </div>
        <span v-for="day in days">{{day}} </span>
    </div>

    <div>
        <div>
            <h2>v-for with object properties</h2>
            <div>{{ personObject }}</div>
            <span v-for="person in personObject">
                <p>Name: {{ person.name }}, Age: {{ person.age}}</p>
            </span>
        </div>
    </div>

    <div>
        <h2>v-class dynamic css class</h2>
        <p :class="{ 'classA': dynamicCssClassA, 'classB': dynamicCssClassB}">
            This css class is beeing evaluated by a expression to determine wich class use.
        </p>
    </div>

    <div>
        <h2>v-model two way data bindings</h2>
        <input type="text" v-model="message">
        <p>
            input: {{message}}
        </p>
    </div>

</div>
