<div>
    <div>
        <h2>Im the child</h2>
        <p>prop from father = "{{ fatherText }}"</p>
        <button @click="$emit('message')">
            Click to emit a event to my father
        </button>
    </div>
</div>
