<div>
    <div>
        <h2>Im the father</h2>
        <p>Write something, my child is listening with the props</p>
        <input type="text" v-model="messageToChild">
    </div>
    <div>
        <Child  @message="handleChildEvent"  :fatherText="messageToChild"></Child >
    </div>
    <div>
        <h2>Dynamics components</h2>
        <button
            @click="changeComponent('ComponentA')">
            <p>Sow component A</p>
        </button>

        <button
            @click="changeComponent('ComponentB')">
            <p>Sow component B</p>
        </button>
        <component :is="selectedComponent"></component>
    </div>
    <div>
        <h2>Lifecycle</h2>
        <button
            @click="showLifecycle">
            <p>Sow life cycle of component</p>
        </button>
        <Lifecycle v-if="showLifeHistory"> </Lifecycle>
    </div>
</div>
